::ng-deep .mat-menu-panel {
  background: #fff9;
  padding: 0.5em;
}

::ng-deep .mat-menu-content:not(:empty) {
  padding: 0;
}

.mat-divider {
  margin: 0.25em 0;
}

.mat-menu-item {
  background-color: rgba(39, 40, 51, 0.965);
}

.mat-menu-item:hover:not([disabled]) {
  background-color: rgba(39, 40, 51, 0.965);
}

.search {
  border: #fff9 1px solid;
  border-radius: 4px;
  margin-left: 0;
}

.search-input {
  padding-left: 0;
}

.filter {
  color: #fff9;;
}

.search:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
}

.search input {
  background-color: transparent;
  padding: 0;
  border: none;
  height: 100%;
  width: calc(100% - 24px);
}

.search input:focus-visible {
  outline: none;
}



.mat-divider {
  border-top-color: rgb(255 255 255 / 30%);
}

.bot {
  height: 4em;
  align-content: center;
  margin-left: 0;
}

.mat-icon {
  vertical-align: middle;
  padding-left: 0;
}


ul, p {
  margin-bottom: 0.25em !important;
}

.mat-list-item {
  width: 96% !important;
  margin: 0.5em 2%;
}

.list {
  overflow: auto;
  height: calc(100% - 3em);
}

.scrollbar-primary::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(39, 40, 51, 0.965);
  border-radius: 10px;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #e44c65;
}
