<div class="list scrollbar scrollbar-primary">
  <mat-list>
    <ng-container *ngFor="let item of filtered ">
      <mat-list-item (click)="select(item)"
                     [ngClass]="{'button': true, 'primary': (selected !== undefined && getName(item) === getName(selected))}">
        <mat-icon matListIcon>{{icon}}</mat-icon>
        <h3 matLine>{{getName(item)}}</h3>
      </mat-list-item>
    </ng-container>
  </mat-list>
</div>
<mat-divider></mat-divider>
<div class="row bot aln-center">
  <button *ngIf="!(method === 'All')" [routerLink]="[ROUTE_BY_TYPE.get(type)]" aria-label="All" class="button primary col-5">
    <mat-icon>{{icon}}</mat-icon>
    Tous
  </button>
  <button (click)="openDialog()" aria-label="settings" class="button primary col-5">
    <mat-icon>settings</mat-icon>
    Filtres
  </button>
</div>
