
#main {
  height: 100%;
}

.container {
  height: 100%;
}

#sidebar {
  height: 100%;
}


@media screen and (max-width: 980px) {
  #sidebar {
    height: 40vh;
  }

  .card {
    height: 40vh;
  }
}

