<section class="row aln-center" style="height: 100%">
  <div style="overflow: hidden; padding: 0">
    <div class="card-container">
      <h3>
        Connexion
      </h3>
      <div class="table-wrapper">
        <table class="alt">
          <tbody>
          <tr>
            <td>Email :</td>
            <td>
              <input [formControl]="email" name="email" type="text">
              <app-mat-errors [control]="email"></app-mat-errors>
            </td>
          </tr>
          <tr>
            <td>Mot de Passe :</td>
            <td>
              <input [formControl]="password" name="password" type="password">
              <app-mat-errors [control]="password"></app-mat-errors>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="2">
              <button (click)="onSubmit()" [disabled]="form.pristine || form.invalid" class="button primary">Se
                Connecter
              </button>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</section>
