section {
  align-content: center;
}

.card-container {
  padding: 2em;
  background-color: rgba(39, 40, 51, 0.965);
  border-radius: 5px;
  border: white 2px inset;
  overflow: hidden;
}

.float {
  position: absolute;
  top: 4em;
  right: 2em;
}

@media screen and (max-width: 980px) {
  section {
    width: 100vw;
    margin: 0;
  }
}
