<tr>
  <td>Titre professionnel : </td>
  <td>
    <select name="titrePro" [formControl]="titreProfessionnelId">
      <option [ngValue]="0" selected disabled>Selectionner</option>
    </select>
    <mat-error *ngIf="titreProfessionnelId.touched && titreProfessionnelId.hasError('required')">Titre Professionnel requis</mat-error>
  </td>
</tr><tr>
  <td>Ville : </td>
  <td>
    <select name="ville" [formControl]="villeId">
      <option [ngValue]="0" selected disabled>Selectionner</option>
    </select>
    <mat-error *ngIf="villeId.touched && villeId.hasError('required')">Ville requise</mat-error>
  </td>
</tr>
<tr>
  <td>Période de formation : </td>
  <td>
    <mat-form-field appearance="fill" style="width: 100%">
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate [formControl]="dateDebut" class="static"  placeholder="Date Debut">
      <input matEndDate [formControl]="dateFin" placeholder="Date Fin">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker color="primary"></mat-date-range-picker>
    </mat-form-field>
    <mat-error *ngIf="dateDebut.touched && dateDebut.hasError('required')">Date de début requise</mat-error>
    <mat-error *ngIf="dateDebut.touched && dateDebut.hasError('required')">Date de fin requise</mat-error>
  </td>
</tr>

