.b-box {
  margin: 0 2em;
}

.w100 {
  margin-left: 0;
}

.table-wrapper {
  width: 100%;
}

.align-items-center {
  margin-left: 0;
  align-items: center;
}

.button {
  padding: 2px;
  height: 28px;
  line-height: 28px;
}

tr td:not(:first-child) {
  text-align: center;
}

tr td:last-child a:not(:first-child) {
  margin-left: 1em;
}

.table-wrapper {
  background-color: #272833f6;
  padding: 0;
}

.table-wrapper table {
  margin: 0;
  padding: 2em;
}


